/* For tablets and larger devices */
@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    .produk-item, .fitur-item, .pakaian-item, .testimoni-item {
        width: 45%;
    }
}

/* For mobile devices */
@media (max-width: 767px) {
    header h1, header nav ul {
        float: none;
        text-align: center;
    }

    header nav ul {
        padding-top: 10px;
    }

    .produk-list, .testimoni-list {
        flex-direction: column;
        align-items: center;
    }

    .produk-item, .fitur-item, .pakaian-item, .testimoni-item {
        width: 90%;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .produk h2, .testimoni h2, .kontak h2 {
        font-size: 28px;
    }
}
